body { background: #88122; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 22px; display: flex; }
.block-cache-0 { color: #31e77f; font-size: 21px; margin-bottom: 5px; }
.block-product-1 { color: #b00824; font-size: 19px; margin-bottom: 5px; }
.block-search-2 { color: #44235e; font-size: 17px; margin-bottom: 5px; }
.block-sms-3 { color: #55570b; font-size: 20px; margin-bottom: 5px; }
.block-sms-4 { color: #83d5bc; font-size: 16px; margin-bottom: 5px; }